html {
    background: url(https://live.staticflickr.com/7193/13705311063_57ff505d94_b.jpg);
    background-size: cover;
}
header {
    text-align: center;
    color: white;
    border: solid white 2px;
    background: orange;
}
footer {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    margin: 100px 450px 100px 450px;
    padding: 25px 50px;
    border: solid white;
    background: orange;
    text-align: center;
}
h4 {
    color: white;
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: solid white;
    background: orange;
}
#homeIntro {
    color: white;
    text-align: center;
    border: solid white;
    font-size: 20px;
    background-color: orange;
    margin: 0px 100px;
}

/* .navBar {
    display: block;
    height: 25px;
    line-height: 25px;
}
.navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navBar li {
    float: left;
}
.navBar {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
} */
.toDo {
    display: flex;
justify-content: center;
margin: 20;
}
.shoppingList {
    display: flex;
    justify-content: center;
    margin: 20;
}
img{
    width: 700px;
    height: 300px;
}
.logs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#Fish {
    margin: 20px 0px;
}
#Equipment {
    margin: 20px 0px;
}
#Purchases {
    margin: 20px 0px;
}
#Changes {
    margin: 0px 0px;
}
/* @media (max-width: 450px) {
    .logs{
    height: 10%;
    width: 10%;
} */
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    display: inline;
    padding: 0px 60px;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;

}

li a:hover{
    background-color: orange;
    color:white;
}

#logIn {
    position: relative;
    background-color: orange;
    margin: 16% 28%;
    padding: 50px;
    border: solid white;
    text-align: center;
    color: white;
    font-weight: bolder;
}

#loginText {
    font-size: 40px;
    color: whitesmoke;
    margin: 5px 20px 30px 20px;
}


