html {
background: url(https://trello-attachments.s3.amazonaws.com/602cb70f7f46a92fe75b80e9/259x194/4491ab2c9bf56142ca281733e69dd698/capstone_clownfish_1.jpg);
}
header {
    text-align: center;
    color: white;
    border: solid white 2px;
    background: orange;
        text-align: bold;
}
h3 {
    color: white;
    margin: 100px 250px 100px 250px;
    padding: 25px 50px;
    border: solid white;
    background: orange;
    text-align: center;
}
footer {
    color: white;
    text-align: center;
}
.topnav {
    color: white;
    
    text-align: center;
}
.topnav a {
    background: orangered;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
div.topnav {
    margin: 25px;
}
.topnav a.active {
    background-color: blue;
    color: white;
  }