html {
background: url(https://live.staticflickr.com/7193/13705311063_57ff505d94_b.jpg);
background-size: cover;
}
header {
    text-align: center;
    color: white;
    border: solid white 2px;
    background: orange;
        text-align: bold;
}
h3 {
    color: white;
    margin: 100px 450px 100px 450px;
    padding: 25px 50px;
    border: solid white;
    background: orange;
    text-align: center;
}
footer {
    color: white;
    text-align: center;
}
.topnav {
    color: white;
    
    text-align: center;
}
.topnav a {
    background: orangered;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
div.topnav {
    margin: 25px;
}
[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
  img{
      width: 700px;
      height: 300px;
  }